[user]
    name = Matthew Rose
    email = matthew.rose@maxkelsen.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $MERGED $REMOTE -c 'wincmd l' -c 'wincmd J'
[diff]
    algorithm = histogram
[alias]
    bselect = !git branch | grep -v '^*' | fzf-tmux -d 20% --reverse | xargs git checkout
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [a:%an,c:%cn]" --decorate --numstat
    uncommit = reset --soft HEAD^
    unstage = reset
    graph = log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(green)%d%C(reset)' --graph --date-order
[url "git@github.com:"]
    insteadOf = https://github.com/
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
[interactive]
    diffFilter = delta --color-only
